/* styles.css */

:root {
  --text: #241f16;
  --light: rgba(36, 31, 22, 0.466);
  --bg: hsl(38, 100%, 90%);
  --shadow: rgba(255, 255, 255, 0.604);
}

html, body {
  height: 100%;
}

html {
  font-size: 14pt;
  line-height: 1.0;
  background: var(--bg);
  color: var(--text);
  letter-spacing: 0.7ch;
  text-shadow: 1px 1px 3px var(--shadow);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

a {
  text-decoration: none;
  color: inherit;
}

.corner {
  width: min-content;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  box-sizing: border-box;
  height: 1.4em;
  width: 1.4em;
  margin: 0.5em 1em;
  padding: 0.2em 0.2em;
  border-radius: 0.7em;
  text-align: center;
}

.button {
}

.button:hover {
}

#drag {
  letter-spacing: normal;
}

.top-right { top: 0; right: 0; }
.top-left { top: 0; left: 0; }
.bottom-right { bottom: 0; right: 0; }
.bottom-left { bottom: 0; left: 0; }

body:hover .corner {
  opacity: 0.5;
}

.corner:hover { 
  opacity: 1 !important;
}

#word {
  font-size: 10vw;
  max-width: 100vw;
  word-wrap: break-word;
  hyphens: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(224, 215, 199);
    --light: rgba(224, 215, 199, 0.481);
    --bg: rgb(28, 28, 28);
    --shadow: rgba(0, 0, 0, 0.64);
  }
}